.Adress{
    display: flex;
    flex-wrap: wrap;
    
}

.inputAdress{
    width: 50px;
    height: 50px;
    margin:25px;
    border-radius: 5px;
    border: 1px solid var(--darkgrey);
    outline: none;
    font-size: large;
    
}
h2{
    margin-top: 45px;
}

.btn{

    width: 130px;
    height: 35px;
    border-radius: 5px;
    border:none;
    background-color: var(--lightBlue);
    color:#fff;
    font-family: CronosBold;
    font-size: large;
    cursor: pointer;
    outline: none;

}
.btn-container{
    display: flex;
    justify-content: end;
    padding:40px 100px;
}

@media (max-width: 1170px) {


    
}

