.myTable{
    width: 85%;
    text-align: center;
    margin-top: 40px;
    border: 2px solid var(--darkgrey);
    border-radius: 5px;
    margin-bottom: 20px;

}

.myTable thead{
    background-color: var(--darkgrey);
    color: var(--white);
    height: 40px;

}

.myTable tbody{
    color: black;
    height: 40px;
    border: 2px solid var(--darkgrey);
    
}

.btn-table{
    background-color: var(--lightBlue);
    color: var(--white);
    border:none;
    margin-left: 5px;
    border-radius: 5px;
    width: 35px;
    height: 30px;
    cursor: pointer;
}