.container {

    color:var(--textBlue);
    width: 100%;
    box-shadow: 5px 3px 3px 2px #0004;
    min-height: 500px;
    border-radius: 15px;
    background-color: var(--white);

    
}

h1{
    text-align: center;
}

.card{
    background-color: var(--white);
    border-radius: 15px;
}

.ppContainer{
    display: flex;
    justify-content: center;
}